body {
  background-color: #222222;
  background-image: url(threeJSicon.svg);
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-attachment: fixed;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  padding: 25px;
}
div {
  background-color: #333;
  padding: 20px;
  width: max-content;
  object-position: center;
  margin: auto;
}

a:link {
  color: rgb(85, 248, 180);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(122, 229, 243);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 255, 157);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(255, 213, 75);
  background-color: transparent;
  text-decoration: underline;
}