body {
  background-color: #222222;
  background-image: url(Assets/Images/threeJSicon.svg);
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-attachment: fixed;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  padding: 25px;
  object-position: center;
}

pre[class*="language-"] {
  background: #1118 !important;
  font-size: small !important;
  text-align: start;
  padding: 8px !important;
  border-radius: 8px;
}

table, th, td {
    background-color: #2228;
    border: 1px solid #fff;
    border-collapse: collapse;
    padding: 10px;
    margin: auto;
    width: 60%;
}
td {
    text-align: start;
}

div:not(.scratchblocks) {
  background-color: #11111155;
  padding: 20px;
  width: 50%;
  object-position: center;
  margin: auto;
  margin-top: 10px;
}

a:link {
  color: rgb(85, 248, 180);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(122, 229, 243);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 255, 157);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(255, 213, 75);
  background-color: transparent;
  text-decoration: underline;
}

img {
    height: 300px;
    padding: 20px;
}

ol {
    text-align: left;
    background-color: #11111155;
    padding: 20px;
    width: 200px;
    padding-left: 100px;
    
    
    object-position: center;
    margin: auto;
}